@font-face {
    font-family: GameFont;
    src: url("PublicPixel-rv0pA.ttf");

  }

body{ 
    background-color: black;
}

h1{
    color: blueviolet;
    font-family: GameFont;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 60px;
}

.project-video video {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 60%;
    object-fit: cover; /* Ensures the video covers the container without distorting */
  }

h2{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-indent: 70px; /* tab is the indent */
    font-size: 20px;
    line-height: 35px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 650px;
    padding: 150px ;
    margin-left: 50px;
}

h3{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-indent: 70px;
    font-size: 20px;
    line-height: 35px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 790px;
    padding: 150px ;
    margin-left: 50px;
}
h4{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-indent: 70px;
    font-size: 20px;
    line-height: 35px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 1030px;
    padding: 150px ;
    margin-left: 50px;
}
/* installation */
h5{  
    color: white;
    font-family: GameFont;
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    top: 1400px;
    left: 80px;
}

#Ins1-img{
    position: absolute;
    top: 1600px;
    left: 200px;
    width: 600px;
    height: 500px;
}
#Ins1-img{
    position: absolute;
    top: 1600px;
    left: 200px;
    width: 600px;
    height: 500px;
}
#Ins2-img{
    position: absolute;
    top: 1600px;
    left: 950px;
    width: 600px;
    height: 500px;
}

#Ins3-img{
    position: absolute;
    top: 2200px;
    left: 200px;
    width: 600px;
    height: 500px;
}

#Ins4-img{
    position: absolute;
    top: 2200px;
    left: 950px;
    width: 600px;
    height: 700px;
}
/* Unity World */
h6{
    color: white;
    font-family: GameFont;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 2800px;
    left: 80px;

}

#Unity1-img{
    position: absolute;
    top: 3100px;
    left: 20px;
    width: 800px;
    height: 500px;
}

#Unity2-img{
    position: absolute;
    top: 3100px;
    left: 860px;
    width: 800px;
    height: 500px;
}
/* Mateirls */
h7{
    color: white;
    font-family: GameFont;
    font-size: 60px;
    font-weight: 450;
    position: absolute;
    top: 3800px;
    left: 600px;

}
/* Rasberry */
h8{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 450;
    position: absolute;
    top: 4000px;
    left: 600px;
}
#Ras-img{
    position: absolute;
    top: 4050px;
    left: 630px;
    width: 500px;
    height: 400px;
    border: solid 5px blueviolet;
}
/* SD card */
h9{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 450;
    position: absolute;
    top: 4500px;
    left: 600px;
}
#Bread-img{
    position: absolute;
    top: 4550px;
    left: 630px;
    width: 250px;
    height: 200px;
    border: solid 5px blueviolet;
}
/* ardunio */
h10{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 450;
    position: absolute;
    top: 4800px;
    left: 600px;
}
#Ard-img{
    position: absolute;
    top: 4900px;
    left: 630px;
    width: 500px;
    height: 400px;
    border: solid 5px blueviolet;
}
/* monitor */
h11{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 450;
    position: absolute;
    top: 5390px;
    left: 600px;
}
#Mon-img{
    position: absolute;
    top: 5450px;
    left: 630px;
    width: 500px;
    height: 400px;
    border: solid 5px blueviolet;
}
/* LED */
h12{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 450;
    position: absolute;
    top: 5950px;
    left: 600px;
}
#LED-img{
    position: absolute;
    top: 6000px;
    left: 630px;
    width: 400px;
    height: 400px;
    border: solid 5px blueviolet;
}